.buildpath
.idea
.settings/.jsdtscope
.settings/org.eclipse.wst.common.project.facet.core.xml
.settings/org.eclipse.wst.jsdt.ui.superType.container
.settings/org.eclipse.php.core.prefs
.settings/org.eclipse.wst.jsdt.ui.superType.name
Core/.project
.idea/vcs.xml
.project
Application/Runtime
Application/Common/Conf/db.php
.settings/org.eclipse.wst.validation.prefs
.user.ini
.bash_history
.config/
.pki/
.cache/
.settings/
Runtime/
